/* $Id: navigation.css,v 1.5 2009/11/04 19:42:41 johnalbin Exp $ */

/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {

}

/*
 * Navigation bar
 */
#navigation {
}

.region-navigation {
}

#navigation h2.title {
display: none;
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
}

/*
 * Footer Links
 */
 
#footer ul.menu li {
    float: left;
    list-style-type: none;
    padding: 0 0.75em;
    margin: 0;
    line-height: 1em;
    border-right: 1px solid #000;    
}

#footer ul.menu li.last {
    border-right: 0px solid #000;   
}

#menu-item-id-613, /* atmusica */
#menu-item-id-617, 
#menu-item-id-619, 
#menu-item-id-618, 
#menu-item-id-616, 
#menu-item-id-620,
#menu-item-id-221, /* CEAS */
#menu-item-id-224,
#menu-item-id-225,
#menu-item-id-226,
#menu-item-id-227,
#menu-item-id-228 {
  background: url('../images/icon-footersprites.png') no-repeat;
  padding-left: 20px;  
}

#menu-item-id-613, #menu-item-id-221 { /* calendario */
  background-position: 0 0;
}

#menu-item-id-616, #menu-item-id-224 { /* rss */
  background-position: 0 -56px;
}

#menu-item-id-617, #menu-item-id-225 { /* enews */
  background-position: 0 -14px;
}

#menu-item-id-618, #menu-item-id-226 { /* podcast */
  background-position: 0 -42px;
}

#menu-item-id-619, #menu-item-id-227 { /* facebook */
  background-position: 0 -28px;
}

#menu-item-id-620, #menu-item-id-228 { /* twitter */
  background-position: 0 -70px;
}



#footer ul.menu {
    padding: 0.5em 0;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}
