/* $Id: page-backgrounds.css,v 1.8 2009/11/04 20:57:49 johnalbin Exp $ */

/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
}

body.front, body.not-front {
background-color: #F9F9F9;
}

#sitecontent {
background-color: #FFFFFF;
}

#page-wrapper {
}

#header {
border-top: 0px solid #8b1f04;
}

#headercontent-wrapper .column.HeaderRight #secondary-menu {

}

#headercontent-wrapper .section {
background: #008895; /* Old browsers */
background: -moz-linear-gradient(top, #008895 0%, #007c87 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008895), color-stop(100%,#007c87)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #008895 0%,#007c87 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #008895 0%,#007c87 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #008895 0%,#007c87 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008895', endColorstr='#007c87',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #008895 0%,#007c87 100%); /* W3C */
}

#page {
}

#navigation .section{
background: #008895; /* Old browsers */
background: -moz-linear-gradient(top, #008895 0%, #006f7a 50%, #00575f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008895), color-stop(50%,#006f7a), color-stop(100%,#00575f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #008895 0%,#006f7a 50%,#00575f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #008895 0%,#006f7a 50%,#00575f 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #008895 0%,#006f7a 50%,#00575f 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008895', endColorstr='#00575f',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #008895 0%,#006f7a 50%,#00575f 100%); /* W3C */
height: 25px;
}

#feature {
}

#preface-wrapper {
}

#main-wrapper {
}

#header {
}

#topbar-wrapper {
}

#header .section {
}

#sitecontent-wrapper {
}

#sitecontent{
}

#main-wrapper {
}

#main {
}

#footer {
}

#footer .section {
background: #f7f7f9; /* Old browsers */
background: -moz-linear-gradient(top, #f7f7f9 0%, #f7f7f9 0%, #eaeaec 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f9), color-stop(0%,#f7f7f9), color-stop(100%,#eaeaec)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7f7f9 0%,#f7f7f9 0%,#eaeaec 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7f7f9 0%,#f7f7f9 0%,#eaeaec 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #f7f7f9 0%,#f7f7f9 0%,#eaeaec 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f9', endColorstr='#eaeaec',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #f7f7f9 0%,#f7f7f9 0%,#eaeaec 100%); /* W3C */
}
