.sf-menu.march-navbar {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}

.sf-menu .sf-sub-indicator {
  background: url("../images/arrows-a6c1cd.png") no-repeat scroll -10px -100px transparent;
}
.sf-shadow ul {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}
.sf-menu.march-navbar, .sf-menu.march-navbar .sf-megamenu {
  border: 0;
}
.sf-menu.march-navbar.sf-navbar {
  width: 100%;
}
.sf-menu.march-navbar ul {
  padding-left: 0;
}

#header #navigation li.sfHover li a {
  background: #F2F2EA;
}

#navigation ul.march-navbar ul li {
  background: #F2F2EA;
  top: -7px;
}

#header #superfish ul.march-navbar li.sfHover a,
#header #superfish ul.march-navbar li a:hover {
  text-decoration: none;
}

#header #superfish ul.march-navbar ul li a{
  color: #555555;
}

#header #superfish ul.march-navbar ul li a:hover,
#header #superfish ul.march-navbar ul li a:focus,
#header #superfish ul.march-navbar ul li a:visited{
  color: #555555;
  background: none 0 0 transparent;
}

.march-navbar li.sfHover a,
.march-navbar li a:hover {
  font-weight: bold;
  color: #2F2F2F;
}

.march-navbar .sf-depth-2 a,
.march-navbar li li a:hover {
  font-weight: normal;
  text-align: left;
}

#header #superfish ul.march-navbar li li.sfHover a,
#header #superfish ul.march-navbar li li a:hover {
  text-decoration: underline;
}

.sf-menu.march-navbar a {
  border: 0;
  padding: 5px 1.4em;
  text-decoration: none;
}

.sf-menu.march-navbar li.sf-item-1 a  {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 73px;
}

.sf-menu.march-navbar li.sf-item-2 a {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 64px;
}

.sf-menu.march-navbar li.sf-item-3 a  {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 82px;
}

.sf-menu.march-navbar li.sf-item-4 a  {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 121px;
}

.sf-menu.march-navbar li.sf-item-5 a  {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 152px;
}

.sf-menu.march-navbar li.sf-item-6 a  {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 100px;
}

.sf-menu.march-navbar li li a,
.sf-menu.march-navbar li.sf-item-1 li a,
.sf-menu.march-navbar li.sf-item-2 li a,
.sf-menu.march-navbar li.sf-item-3 li a,
.sf-menu.march-navbar li.sf-item-4 li a,
.sf-menu.march-navbar li.sf-item-5 li a,
.sf-menu.march-navbar li.sf-item-6 li a {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  font-weight: normal;
}

.sf-menu.march-navbar li.sf-item-2 li.last a {
  border-top: 1px solid #DFDFD8;
  padding-top: 10px;
  margin-top: 10px;
}

.sf-menu.march-navbar li li.first a {
  margin-top: 20px;
}

.sf-menu.march-navbar li li.last a {
  margin-bottom: 20px;
}


.sf-menu.march-navbar li.first a {
    border-top: 0;
}
.sf-menu.march-navbar a, .sf-menu.march-navbar a:visited {
    color: #1133AA;
}
.sf-menu.march-navbar a.sf-with-ul {
    padding-right: 31px;
}
.sf-menu.march-navbar.rtl a.sf-with-ul {
    padding-left: 2.25em;
    padding-right: 1em;
}
.sf-menu.march-navbar span.sf-description {
    color: #041161;
    display: block;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 5px 0 0 5px;
    padding: 0;
}
.sf-menu.march-navbar li, .sf-menu.march-navbar.sf-navbar {
    background: none repeat scroll 0 0 #FFFFFF;
}
.sf-menu.march-navbar li li {
    background: none repeat scroll 0 0 #FFFFFF;
}
.sf-menu.march-navbar li li li {
    background: none repeat scroll 0 0 #FFFFFF;
}
.sf-menu.march-navbar li:hover, .sf-menu.march-navbar li.sfHover, .sf-menu.march-navbar a:focus, .sf-menu.march-navbar a:hover, .sf-menu.march-navbar a:active {
    background: none repeat scroll 0 0 transparent;
    color: #000000;
    outline: 0 none;
}
.sf-menu.march-navbar ul.sf-megamenu li.sf-megamenu-wrapper ol, .sf-menu.march-navbar ul.sf-megamenu li.sf-megamenu-wrapper ol li {
    margin: 0;
    padding: 0;
}
.sf-menu.march-navbar ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
    font-weight: bold;
}
.sf-vertical, .sf-vertical li {
    width: 310px;
}
.sf-vertical li:focus ul, .sf-vertical li:hover ul, .sf-vertical li:active ul, .sf-vertical li.sfHover ul {
    left: 310px;
}
.sf-menu.march-navbar ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
    display: inline;
    float: left;
    width: 12em;
}

.sf-menu .sf-sub-indicator {
    background: url("../images/arrows-a6c1cd.png") no-repeat scroll -10px -100px transparent;
}

.ceacs-vertical {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}

.block ul.ceacs-vertical, .item-list ul.ceacs-vertical {
    padding: 0;
}

.ceacs-vertical,
.ceacs-vertical .sf-megamenu {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #6b98ac;
}

.ceacs-vertical.sf-navbar {
  width: 100%;
}
.ceacs-vertical ul {
  padding-left: 0;
}
.ceacs-vertical a {
  border-left: 0px solid #fff;
  border-top: 1px solid #a6c1cd;
  padding: 10px 10% 10px 6%;
  width: 84%;
  text-decoration: none;
}

.ceacs-vertical li.first a {
  border-top: 0px solid #a6c1cd;
}


.ceacs-vertical a,
.ceacs-vertical a:visited  {
  color: #13a;
}
.ceacs-vertical a.sf-with-ul {
  padding-right: 31px;
}
.ceacs-vertical.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.ceacs-vertical span.sf-description {
  color: #041161;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}
.ceacs-vertical li,
.ceacs-vertical.sf-navbar {
  background: #fff;
}
.ceacs-vertical li li {
  background: #fff;
}
.ceacs-vertical li li li {
  background: #fff;
}
.ceacs-vertical li:hover,
.ceacs-vertical li.sfHover,
.ceacs-vertical a:focus,
.ceacs-vertical a:hover,
.ceacs-vertical a:active {
  color: #000;
  background: #d5c9a0;
  outline: 0;
}
.ceacs-vertical ul.sf-megamenu li.sf-megamenu-wrapper ol,
.ceacs-vertical ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
.ceacs-vertical ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
  font-weight: bold;
}

.ceacs-vertical, .sf-vertical li {
    width: 310px;
}

.ceacs-vertical li:focus ul, .ceacs-vertical li:hover ul,
.ceacs-vertical li:active ul, .ceacs-vertical li.sfHover ul {
  left: 310px;
}

.ceacs-vertical ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
  width: 12em;
}

.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}
li.sf-parent-children-1 ul.sf-megamenu {
    width: 12em;
}
li.sf-parent-children-2 ul.sf-megamenu {
    width: 24em;
}
li.sf-parent-children-3 ul.sf-megamenu {
    width: 36em;
}
li.sf-parent-children-4 ul.sf-megamenu {
    width: 48em;
}
li.sf-parent-children-5 ul.sf-megamenu {
    width: 60em;
}
li.sf-parent-children-6 ul.sf-megamenu {
    width: 72em;
}
li.sf-parent-children-7 ul.sf-megamenu {
    width: 84em;
}
li.sf-parent-children-8 ul.sf-megamenu {
    width: 96em;
}
li.sf-parent-children-9 ul.sf-megamenu {
    width: 108em;
}
li.sf-parent-children-10 ul.sf-megamenu {
    width: 120em;
}


