/* Stylesheet for Merce */

/* css3 functions */

@-webkit-keyframes pulse {
    from { opacity: 0.75; }
     50% { opacity: 1.0; }
      to { opacity: 0.75; }
}
@-moz-keyframes pulse {
    from { opacity: 0.75; }
     50% { opacity: 1.0; }
      to { opacity: 0.75; }
}
@-ms-keyframes pulse {
    from { opacity: 0.75; }
     50% { opacity: 1.0; }
      to { opacity: 0.75; }
}

/* General */

body
{
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.section-fedora h1.title
{
  text-align: center;
}

/* copied from forms.css */

a.button,
.form-submit,
.button
{
    border-color: #753905;
    border-bottom-color: #602d01;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background: #753905; /* Old browsers */
    background: -moz-linear-gradient(top, #753905 0%, #602d01 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#753905), color-stop(99%,#602d01)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #753905 0%,#602d01 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #753905 0%,#602d01 99%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #753905 0%,#602d01 99%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#753905', endColorstr='#602d01',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #753905 0%,#602d01 99%); /* W3C */
}

a.button:hover,
a.button:focus,
a.button:active,
a.reposubmission:hover,
a.reposubmission:focus,
a.reposubmission:active,
.book_add_child a:hover,
.book_add_child a:focus,
.book_add_child a:active,
.book_printer a:hover,
.book_printer a:focus,
.book_printer a:active,
.node_read_more a:hover,
.node_read_more a:focus,
.node_read_more a:active,
.comment_add a:hover,
.comment_add a:focus,
.comment_add a:active,
.print_html a:hover,
.print_html a:focus,
.print_html a:active,
.button:hover,
.button:focus,
.button:active,
.form-submit:hover,
.form-submit:focus,
.form-submit:active,
#views-ajax-pad .form-buttons .form-submit:hover,
#views-ajax-pad .form-buttons .form-submit:focus,
#views-ajax-pad .form-buttons .form-submit:active,
.teaser-button:hover,
.teaser-button:focus,
.teaser-button:active,
.container-inline a:hover,
.container-inline a:focus,
.container-inline a:active,
.content-overview-links a:hover,
.content-overview-links a:focus,
.content-overview-links a:active
{
    border-color: #97551b;
    border-bottom-color: #602d01;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background: #753905; /* Old browsers */
    background: -moz-linear-gradient(top, #97551b 0%, #602d01 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97551b), color-stop(99%,#602d01)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #97551b 0%,#602d01 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #97551b 0%,#602d01 99%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #97551b 0%,#602d01 99%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97551b', endColorstr='#602d01',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #97551b 0%,#602d01 99%); /* W3C */
}




h1.title
{
  color: #4e0100;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-family: Georgia, Garamond, serif;
  text-transform: none;
}

.block h2.title
{
  color: #4e0100;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-family: Georgia, Garamond, serif;
  text-transform: none;
}

div.messages
{
  margin: 5px 1em 5px 1em;
}

a,
a:link,
li a.active
{
  color: #AA7D3E;
}



.pager-current
{
  background-color: #AA7D3E;
}





/* Header */

/* Navigation */

/* Front */

.front h1.title
{
  display: none;
}

/* Front Top */

#front-wrapper-top
{
  float: left;
  width: 100%;
  height: 377px;
  background: url('../../images/merce/content-top-bg-narrow.png') center top repeat-x transparent;
}

#front-title
{
  float: left;
  width: 450px;
  height: 83px;
  margin: 10px 0px 0px 55px;
  background: url('../../images/merce/content-top-title.png') center top no-repeat transparent;
}

#front-portrait
{
  float: right;
  width: 228px;
  height: 377px;
  background: url('../../images/merce/content-top-portrait.png') center top no-repeat transparent;
}

#front-fjm-menu
{
  float: left;
  width: 510px;
  height: 40px;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 0px 0px;
  
  background: url('../../images/merce/menu-top-bg-wide.png') top center repeat-x transparent;

}

ul.fjm-merce-menu
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  
  list-style: none;
  list-style-image: none;
}

ul.fjm-merce-menu li
{
  float: left;
  width: 162px;
  display: inline-block;
  margin: 5px 12px 0px 0px;
  
  list-style: none;
  list-style-image: none;
}

ul.fjm-merce-menu li.last
{
  margin: 5px 0px 0px 0px;
}

ul.fjm-merce-menu li a
{
  float: left;
  width: 100%;
  height: 26px; /* 30px */
  padding: 5px 0px 0px 0px;
  
  background: url('../../images/merce/menu-top-bg.png') center top repeat-x transparent;

  color: #f0eace;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

ul.fjm-merce-menu li a:hover
{
  color: #f3f1e6;
  text-decoration: none;
}

/* Front page slideshow */

#front-carousel
{
  float: left;
  width: 531px;
  height: 209px;
  margin: 5px 0px 0px 9px;
  padding: 0px 0px 0px 0px;
}

#front-carousel .view-slideshow
{
  float: left;
  width: 531px;
  height: 209px; 

  background: url('../../images/merce/carousel-bg2.png') center top no-repeat transparent;
}
#front-carousel .views_slideshow_main
{
  float: left;
  width: 400px;
  height: 135px;
  margin: 30px 0px 0px 65px;
}

#front-carousel .view-slideshow .views_slideshow_singleframe_teaser_section
{
  float: left;
  width: 400px;
  height: 135px;
/*   margin: 30px 0px 0px 65px; */
/*   background: red; */
}

#front-carousel .view-slideshow .views_slideshow_slide
{
  float: left;
  width: 400px;
  height: 135px;
}

#front-carousel .view-slideshow .views_slideshow_slide img
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  margin: auto;
}

#front-carousel .view-slideshow .views_slideshow_slide a
{
  float: left;
  position: relative;
  width: 130px;
  height: 135px;
}

#front-carousel .views-row
{
  float: left;
  width: 130px;
  height: 135px;
  margin: 0px 5px 0px 0px;
  text-align: center;
}

#front-carousel .views-row-first
{
  margin: 0px 0px 0px 0px;
}

#front-carousel .views_slideshow_controls
{
  float: left;
  position: relative;
  width: 100%;
}

#front-carousel .views-slideshow-controls-bottom
{
  float: left;
  width: 100%;
}

#front-carousel .views_slideshow_controls .views_slideshow_previous
{
  position: absolute;
  left: 25px;
  top: -75px;
  width: 32px;
  height: 32px;
  
  background: url('../../images/merce/carousel-controls.png') 0px -32px no-repeat transparent;
  
  /* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#front-carousel .views_slideshow_controls .views_slideshow_next
{
  position: absolute;
  right: 25px;
  top: -75px;
  width: 32px;
  height: 32px;
  
  background: url('../../images/merce/carousel-controls.png') 0px 0px no-repeat transparent;
  
  /* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#front-carousel .views_slideshow_singleframe_pager
{
/*   float: left; */
  width: auto;
  height: 15px;
  margin: 5px auto 0px auto;
  text-align: center;
}

#front-carousel .views_slideshow_singleframe_pager .pager-item
{
  width: 15px;
  height: 10px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#front-carousel .views_slideshow_singleframe_pager .pager-item a
{
/*   float: left; */
  display: inline-block;
  width: 15px;
  height: 10px;
  vertical-align: top;

  background: url('../../images/merce/carousel-controls.png') 0px -64px no-repeat transparent;
  
  /* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
/*
  font-size: 10px;
  line-height: 10px;
*/
}

#front-carousel .views_slideshow_singleframe_pager .activeSlide a,
#front-carousel .views_slideshow_singleframe_pager .pager-item a:hover
{
  background-position: 0px -74px;
}







#front-bio
{
  float: right;
  width: 185px;
  height: 251px;
  margin: 90px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#front-bio h2
{
  font-size: 16px;
  font-family: Georgia, Garamond, serif;
  font-weight: normal;
  font-style: italic;
  color: #e9ad5a;
  margin: 3px 0px 0px 0px;
  
  
}

#front-bio p
{
  color: #f2cd99;
  margin: 10px 0px 5px 0px;
  line-height: 16px;
  font-size: 12px;
  
}








/* Front Bottom */

#front-wrapper-bottom
{
  float: left;
  width: 100%;
}

h2.front-title
{
  float: left;
  width: 100%;
  height: 30px;
  
  background: url('../../images/merce/h-line-red.png') center bottom repeat-x transparent;
 
  margin: 3px 0px 0px 0px;

  color: #4e0100;    
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-family: Georgia, Garamond, serif;
  
}

#front-browse
{
  float: left;
  width: 510px;
  margin: 0px 0px 10px 20px;
  padding: 0px 0px 10px 0px;

  background: url('../../images/merce/h-line-red.png') center bottom repeat-x transparent;
}

#front-browse-wrapper
{
  float: left;
  width: 100%;
}

#front-browse .browse-links
{
  float: left;
  position: relative;
  width: 164px;
  min-height: 270px;
  margin: 0px 9px 0px 0px;
}

#front-browse .browse-links.last
{
  margin: 0px 0px 0px 0px;
}

#front-browse .browse-links h2
{
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 164px;
  height: 42px;
  margin: 4px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
    
  background: url('../../images/merce/browse-header.png') center top repeat-x transparent;
 

  color: #aa7d3e;    
  text-align: center;
  font-size: 14px;
  font-style: italic;
  font-family: Georgia, Garamond, serif;

}

#front-browse .browse-links ul
{
  float: left;
  width: 100%;
  min-height: 215px;
  margin: 37px 0px 0px 0px;
  padding: 18px 0px 0px 0px;
  background: url('../../images/merce/browse-separator.png') center 18px no-repeat #aa7d3e;
  
  list-style: none;
  list-style-image: none;
}

#front-browse .browse-links ul li
{
  list-style: none;
  list-style-image: none;
}

#front-browse .browse-links ul li a
{
  float: left;
  width: 100%;
  height: 24px; /* 30px */
  padding: 7px 0px 0px 0px;
  
  background: url('../../images/merce/browse-separator.png') center bottom no-repeat transparent;
  
  color: #f0eace;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

#front-browse .browse-links ul li a:hover
{
  color: #f3f1e6;
  text-decoration: none;
}


/* Extended search form */


#front-search-form
{
  float: left;
  width: 390px;
  margin: 0px 0px 10px 20px;
  padding: 0px 0px 10px 0px;
  
  background: url('../../images/merce/h-line-red.png') center bottom repeat-x transparent;
}

#front-search-wrapper
{
  float: left;
  width: 100%;
}

#islandora-extended-search-form h3.search-title
{
  display: none;
}

#islandora-extended-search-form input.form-text
{
  width: 200px;
}

#islandora-extended-search-form #islandora-extended-search-terms .form-select
{
  width: 85px;
}

#islandora-extended-search-form label
{
  width: auto;
  font-weight: normal;
  color: #aa7d3e;
}

#islandora-extended-search-terms .form-item
{
  width: 210px;
}

#islandora-extended-search-terms .form-item:first-child
{
  width: 95px;
}

#islandora-extended-search-terms .ahah-progress-throbber
{
  display: none;
}

#islandora-extended-search-terms .form-submit:active
{
   -webkit-animation: pulse 0.4s infinite;
   -moz-animation: pulse 0.4s infinite;
   -ms-animation: pulse 0.4s infinite;
}

#islandora-extended-search-form .islandora-extended-search-terms
{
  float: left;
  width: 100%;
}

#islandora-extended-search-form .islandora-extended-search-controls
{
  float: left;
  width: 100%;
  margin: 5px 0px 5px 0px;
}

#islandora-extended-search-form div
{

}

#islandora-extended-search-form .islandora-extended-search-controls .form-item
{
  float: left;
  width: auto;
  margin: 0px 15px 0px 0px;
}

#islandora-extended-search-form .islandora-extended-search-controls .form-item:first-child
{
  float: left;
  width: auto;
  border-color: #77787b;
}

#islandora-extended-search-form #edit-submit
{
  margin: 16px 0px 0px 0px;
}







/* Main */

#content-area
{
/*   background: #f0ebe1; */
/*   float: left; */
}

#main #content .section
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.one-sidebar #main #content .section
{
  margin: 10px 10px 10px 10px;
  padding: 0px 0px 0px 0px;
}

.sidebar-first #content
{
  margin-left: 237px;
  width: 723px;
}

.region-sidebar-first
{
  margin-right: -237px;
  width: 237px;
}

.region-sidebar-first .section
{
  padding: 0px 0px 0px 0px;
}

#main
{
  background: #F0EBE1;
}

.one-sidebar #main
{
/*   background: #ccb385; */
  background: url('../../images/merce/faux-bg.png') center top repeat-y transparent;
}

#content
{
/*   background: #F0EBE1; */
}

.not-front #content-area h2
{
  float: left;
  width: 100%;

  color: #4e0100;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-family: Georgia, Garamond, serif;
  text-transform: none;
}







.not-front .fjm-banner
{
  width: 100%;
  height: 52px;
  background: url('../../images/merce/banner-small.png') center top no-repeat transparent;
}

.islandora-solr .fjm-banner
{
  width: 100%;
  height: 52px;
  background: url('../../images/merce/banner-small-search.png') center top no-repeat transparent;
}







/* Audio Page */

#audio-object
{
  float: left;
  width: 930px;
  padding: 0px 15px 65px 15px;
}

#audio-mods
{
  
}

#audio-object .region-left
{
  float: left;
  width: 680px;
  min-height: 575px;
  margin: 25px 0px 0px 0px;
    
  background: #ccb385;
}

#audio-object .region-left object
{
  float: left;
  margin: 15px 15px 15px 15px;
}

#audio-object .region-right
{
  float: right;
  width: 235px;
  min-height: 575px;
  
/*   background: #b89d71; */
}

#audio-object #flashContent
{

}

#audio-mods .metadata-tab
{
  float: left;
  height: 20px; /* 25px */
  padding: 5px 10px 0px 10px;
  margin: 0px 0px 0px 10px;
  
  background: #b1884e;
  color: #f0eace;

  -webkit-border-radius: 5px 5px 0px 0px; /* Saf3-4, iOS 1-3.2, Android ²1.6 */
     -moz-border-radius: 5px 5px 0px 0px; /* FF1-3.6 */
          border-radius: 5px 5px 0px 0px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

}

#audio-object .metadata-wrapper
{
  float: right;
  width: 235px;
  min-height: 575px;
  
  background: #b89d71;
}

#audio-object .metadata-wrapper-inner
{
  float: left;
  width: 190px; /* 200px */
  min-height: 540px; /* 555px */
  margin: 10px 0px 10px 10px;
  padding: 10px 5px 5px 5px;

  background: #ccb385;
}

#audio-object .metadata-top
{
  float: left;
  width: 180px; /* 200px */
  height: 45px;
  padding: 5px 5px 0px 5px;
  
  color: #733e13;
  background: #ded3b0;
}

#audio-object ul
{
  float: left;
  width: 180px; /* 200px */
  margin: 0px 0px 0px 0px;
  padding: 0px 5px 5px 5px;
  background: #aa7d3e;
  list-style: none;
  list-style-image: none;
}

#audio-object ul li
{
  float: left;
  width: 100%;
  padding: 3px 0px 3px 0px;
  color: #f0eace;
  border-bottom: 1px solid #fff;
  
  list-style: none;
  list-style-image: none;
}

#audio-object ul li.last
{
  border-bottom: 0px;
}

#audio-object ul li label
{
  float: left;
  width: 100%;
  color: #733e13;
}

#audio-object ul li span
{
  float: left;
  width: 100%;
}

#audio-object ul li a
{

}

#audio-object ul li a:hover
{

}




/* Solr */

.region-sidebar-first
{
  color: #f0eace;
}

.region-sidebar-first a
{
  color: #733E13;
}

.region-sidebar-first a.active
{
  color: #733E13;
  font-weight: bold;
}


#block-islandora_solr_search-current_query ul,
#block-islandora_solr_search-basic_facets ul
{
  background: #aa7d3e;
  padding: 8px 8px 8px 8px;

  list-style: none;
  list-style-image: none;
}

#block-islandora_solr_search-current_query ul li,
#block-islandora_solr_search-basic_facets ul li
{
  list-style: none;
  list-style-image: none;
}

#block-islandora_solr_search-current_query ul li a,
#block-islandora_solr_search-basic_facets ul li a
{
  color: #f0eace;
}




.region-sidebar-first h2
{
  color: #733e13;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.region-sidebar-first h3
{
  color: #733e13;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.islandora_solr_result_count
{
  float: left;
  width: 100%;
}

.islandora-solr-results
{
  float: left;
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.islandora-solr-result
{
  float: left;
  width: 234px; /* 33% */
  height: 220px; /* 180px */
  text-align: center;
}

.islandora-solr-result img
{
  max-width: 210px;
  height: 160px;
}

.islandora-solr-result a.solr-title,
.islandora-solr-result .solr-img-wrapper
{
  float: left;
  width: 100%;
}

.islandora-solr-result .solr-img-wrapper
{
  height: 165px;
}

.islandora-solr-result a.solr-field
{
/*   min-height: 220px; */
}


/* Sidebar */

/* Footer */


