/* Stylesheet for Turina */

/* General */

body
{
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}


h1.title
{
  padding: 2px 0px 0px 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

  background: url('../../images/turina/title-icon.png') 0px 0px no-repeat transparent;
} 

h2,
h3
{
  font-family: Arial, Helvetica, sans-serif;
}








/* Front */

.front h1.title
{
  display: none;
}

.front-wrapper-top
{
  float: left;
  width: 930px;
  padding: 18px 15px 15px 15px;
  background: url('../../images/turina/border.jpg') center top repeat-x transparent;
}

.front-wrapper-bottom
{
  float: left;
  width: 960px;
  padding: 8px 0px 0px;
  position: relative;
  background: url('../../images/turina/border.jpg') center top repeat-x transparent;
}

.front-wrapper-bottom-inner
{
  float: left;
  width: 960px;
  background: url('../../images/turina/faux-column.jpg') right top repeat-y transparent;
}

.front-bio
{
  float: left;
  width: 196px;
}

.bio-image
{
  float: left;
  width: 196px;
  height: 213px;
  background: url('../../images/turina/portrait.jpg') 0px 0px no-repeat transparent;
}

.front-bio p
{
  font-size: 13px;
  font-family: "Times New Roman", Times, georgia, serif;
  width: 185px;
  margin: 10px 0;
}

.front-bio p.quote
{
  font-style: italic;
  font-size: 15px;
}

.front-postcard
{
  float: right;
  width: 734px;
  height: 477px;
  background: url('../../images/turina/postcard.jpg') 0px 0px no-repeat transparent;
  

  -webkit-box-shadow: 5px 5px 5px 0px #666; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 5px 5px 5px 0px #666; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
          
  -webkit-border-radius: 5px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.front-wrapper-bottom .col-1
{
  float: left; 
  width: 162px;  /* 192px */
  padding: 0px 15px;
  margin: 15px 0px;
}

.front-wrapper-bottom .col-2
{
  float: left;
  width: 352px; /* 384px */
  padding: 0px 15px 0px;
  margin: 15px 0px;
}

h2.front-title
{
  margin: 0px;

  font-size: 16px;
  color: #822603;
  text-transform: uppercase;
  font-weight: normal;
}

h3.front-title
{
  font-size: 15px;
  color: #822603;
  font-weight: normal;

  border-bottom: 2px solid #b9b8b8;
  line-height: 20px;
}

.front-wrapper-bottom ul
{
  padding: 0px;
  margin: 10px 0 5px;
  list-style: none;
  list-style-image: none;
}

.front-wrapper-bottom ul li
{
  list-style: none;
  list-style-image: none;
}

.front-wrapper-bottom ul li a
{
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
}

.front-wrapper-bottom ul li a:hover
{
  text-decoration: none;
  border-bottom: 2px solid #e8b703;  
}

.front-collections
{
  padding: 0px 14px;
  border-left: 1px solid #b9b8b8;
  border-right: 1px solid #b9b8b8;
}

.front-search
{
  float: left;
  width: 372px;
}

.front ul.quicktabs_tabs
{
  margin: 0px 0px 0px 0px;
}

.front .quicktabs_main.quicktabs-style-nostyle
{
  background-color: #fff;
}

.front #quicktabs-1
{
  margin: 10px 0px 0px 0px;
}

.front-browse ul.fjm-turina-links-browse.link-level-0 {
	padding-left: 0px;
	margin-top: 10px;
}

.front-browse ul.fjm-turina-links-browse {
  padding-left: 20px;
  margin-top: 0px;
}


/* Main */

.not-front #main
{
  padding-bottom: 40px;
}

.not-front .fjm-banner
{
  width: 960px;
  height: 96px;
  background: url('../../images/turina/turina-banner.jpg') 0px 0px no-repeat transparent;
}

.front #content .section,
.front.no-sidebars #content .section
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.front #content-area
{
  margin-top: 15px;
}



/* Solr results */

.islandora-solr #main
{
  background: url('../../images/turina/faux-column-solr-220.jpg') left top repeat-y transparent;
}

.islandora-solr .region-sidebar-first .section
{
  padding: 0px;
}

.islandora-solr .region-sidebar-first
{
  width: 220px;
  margin-right: -220px;
}

.islandora-solr.sidebar-first #content {
  margin-left: 220px;
  width: 740px;
}

.islandora-solr .region-sidebar-first ul
{
  background-color: #ededed;
}

.islandora-solr .region-sidebar-first h2
{
  color: #8c6e00;
  font-size: 14px;
  text-transform: uppercase;
}

.islandora-solr .region-sidebar-first h3
{
  font-weight: normal;
}

#turina-book,
.islandora-solr-content
{
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  background: url('../../images/turina/border-inverted.jpg') center top repeat-x transparent;
  border-left: 2px solid #608c94;
  border-right: 2px solid #608c94;
  border-bottom: 2px solid #608c94;
}

ol.islandora-solr-search-results
{
  float: left;
  margin: 15px 5px;
}

.islandora-solr-search-results li
{
  float: left;
  width: 655px;
  margin: 5px 10px 5px 0px;
  padding: 10px;
}

.islandora-solr-search-results li.odd
{
  background-color: #ededed;
}

.islandora-solr-search-results li.even
{
  background-color: #f4f4f4;
}

.islandora-solr-search-results .solr-result
{
  float: left;
  width: 100%;
}

.islandora-solr-search-results .solr-result .solr-left
{
  float: left;
  width: 495px;
}

.islandora-solr-search-results .solr-result .solr-right
{
  float: right;
  width: 150px;
}

.islandora-solr-search-results .solr-result .solr-right img
{
  width: 150px;
}

.islandora-solr-search-results .solr-result .solr-label
{
  float: left;
  width: 75px;
  margin-bottom: 5px;
  clear: left;
}

.islandora-solr-search-results .solr-result .solr-label label
{
  font-weight: bold;
}

.islandora-solr-search-results .solr-result .solr-value
{
  float: left;
  width: 420px;
  margin-bottom: 5px;
}

.islandora-solr-content p.no-results
{
  margin: 1.5em 10px;
}

.islandora-solr-content ul.pager
{
  margin: 1em 0px 0px;
}

/* Book view */

#turina-book * {
	padding: 0.25em;
}

#turina-book > div {
	width: 45%;
	padding: 1em;
	float: left;
}

#turina-book > div > * {
	width: 100%;
	float: left;
	clear: left;
}

#turina-book .desc-list > * {
	float: left;
}

#turina-book .title {
    /*color: #608c94;*/
    font-size: 16px;
}

#turina-book .desc,
#turina-book .subtitle {
	font-size: 14px;
}

#turina-book .desc-list > div.item-list h3 {
  width: 20%;
  color: #555555;
  font-size: 1em;
  margin: 0px;
  line-height: 1em;
  float: left;
}

#turina-book .desc-list > div.item-list ul {
  margin-top: 0px;
  float: left;
  width: auto;
  max-width: 76%;
}

#turina-book .desc-list > div.item-list li {
  margin-left: 1em;
}

#turina-book .desc-list > div.item-list {
  padding: 0px;
  line-height: 1em;
  width: 100%;
}

#turina-book .desc-list > label,
#turina-book .desc-list div.item-list {
  clear: left;
}

#turina-book .desc-list > label {
	width: 20%;
	font-weight: bold;
}

#turina-book a span.icon {
  display: inline-block;
  vertical-align: middle;
  padding: 0px;
}

#turina-book a.pdf-link {
	display: inline-block;
  font-size: 14px;
}

#turina-book a.pdf-link span.icon {
	width: 22px;
	height: 30px;
	background: url("../../images/pdficon.png");
}

#turina-book .fullview-link-wrapper {
	border-bottom: 1px solid;
	padding: 0px;
}

#turina-book a.fullview-link {
	display: inline-block;
	padding: 0.5em;
	margin: 0px;
	width: 20%;
	background-color: #DDDDDD;
	border: 1px solid;
	border-color: #555555;
}

#turina-book a.fullview-link span.icon {
  width: 23px;
  height: 23px;
  background: url("../../images/mag_glass/greenblue-mag_glass.png");
  float: right;
}

/* Name/subject facet lists */

div.facet-list ul.turina-letterer {
	font-weight: bold;
	margin-left: 120px;
}

div.facet-list ul.turina-letterer li {
	display: inline-block;
	list-style: none outside none;
	text-align: center;
	padding: .25em .5em;
}

div.facet-list ul.turina-letterer li.selected {
  background-color: #008895;
}

div.facet-list ul.turina-letterer li.selected a {
	color: #EEEEEE;
}

div.facet-list ul.turina-facets {
	margin-left: 300px;
}

/* Footer */




