/* Stylesheet for Turina */

/* General */

body
{
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}


h2,
h3
{
  font-family: Arial, Helvetica, sans-serif;
}








/* Front */

.front h1.title
{
  display: none;
}

.front-wrapper-top
{
  float: left;
  width: 930px;
  padding: 18px 15px 15px 15px;
  background: url('../../images/turina/border.jpg') center top repeat-x transparent;
}

.front-wrapper-bottom
{
  float: left;
  width: 960px;
  padding: 8px 0px 0px;
  position: relative;
  background: url('../../images/turina/border.jpg') center top repeat-x transparent;
}

.front-wrapper-bottom-inner
{
  float: left;
  width: 960px;
  background: url('../../images/turina/faux-column.jpg') right top repeat-y transparent;
}

.front-bio
{
  float: left;
  width: 196px;
}

.bio-image
{
  float: left;
  width: 196px;
  height: 213px;
  background: url('../../images/turina/portrait.jpg') 0px 0px no-repeat transparent;
}

.front-bio p
{
  font-size: 13px;
  font-family: "Times New Roman", Times, georgia, serif;
}

.front-postcard
{
  float: right;
  width: 734px;
  height: 477px;
  background: url('../../images/turina/postcard.jpg') 0px 0px no-repeat transparent;
  

  -webkit-box-shadow: 5px 5px 5px 0px #666; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 5px 5px 5px 0px #666; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
          
  -webkit-border-radius: 5px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.front-wrapper-bottom .col-1
{
  float: left; 
  width: 162px;  /* 192px */
  padding: 0px 15px;
  margin: 15px 0px;
}

.front-wrapper-bottom .col-2
{
  float: left;
  width: 352px; /* 384px */
  padding: 0px 15px 0px;
  margin: 15px 0px;
}

h2.front-title
{
  margin: 0px;

  font-size: 16px;
  color: #822603;
  text-transform: uppercase;
  font-weight: normal;
}

h3.front-title
{
  font-size: 16px;
  color: #822603;
  font-weight: normal;

  border-bottom: 2px solid #b9b8b8;
  line-height: 20px;
}

.front-wrapper-bottom ul
{
  padding: 0px;
  margin: 10px 0 5px;
  
  list-style: none;
  list-style-image: none;
}

.front-wrapper-bottom ul li
{
  list-style: none;
  list-style-image: none;
}

.front-wrapper-bottom ul li a
{
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
}

.front-wrapper-bottom ul li a:hover
{
  text-decoration: none;
  border-bottom: 2px solid #e8b703;  
}

.front-collections
{
  padding: 0px 14px;
  border-left: 1px solid #b9b8b8;
  border-right: 1px solid #b9b8b8;
}

.front-search
{
  float: left;
  width: 372px;
}

.front ul.quicktabs_tabs
{
  margin: 0px 0px 0px 0px;
}

.front .quicktabs_main.quicktabs-style-nostyle
{
  background-color: #fff;
}

.front #quicktabs-1
{
  margin: 10px 0px 0px 0px;
}




/* Main */

.not-front .fjm-banner
{
  
}

#content .section,
.no-sidebars #content .section
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.front #content-area
{
  margin-top: 15px;
}


/* Footer */